{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'form__user.css') }}">
<section class="">
    <div class="div__central">
        <form method="POST" action="{{ url_for('validaCadastro') }}" class="form">
            {{ form.csrf_token() }}
            <!--necessario para o formulario.-->

            <div class="form__div">
                {{ form.nome(class="form__campo") }}
            </div>
            <div class="form__div">
                {{ form.nickname(class="form__campo") }}
            </div>
            <div>
                {{ form.senha(class="form__campo") }}
            </div>
            <div class="form__check">
                {{ form.admin() }}
                <p>Usuario Administrador</p>
            </div>
            <div>
                {{ form.cadastrar(class="form__botao") }}
            </div>
        </form>
    </div>
</section>
{%endblock%}