{% extends "template.html" %}
{% block conteudo %}
<section class="flex justify-center items-center h-semi-screen">
    <div class="w-96">
        <form class="w-full" method="POST" action="{{ url_for('atualizarReview') }}" method="post"
            enctype="multipart/form-data" class="p-8 flex flex-col gap-4 items-center">
            <div class=" border border-gray-400 rounded-lg shadow-xl flex flex-col justify-center items-center">
                <div class="border border-gray-500 rounded-md flex flex-col items-center p-6 ">
                    <label for="arquivo" class="h-28 cursor-pointer flex flex-col justify-center w-20">
                        <figure></figure>
                        <img class="h-28" class="previa__imagem"
                            src="{{  url_for('imagem', nome_arquivo=capa_review) }}" alt="capa do game">
                        <p class="text-center mt-2 ">Alterar</p>
                    </label>

                    <input type="file" name="arquivo" id="arquivo" class="input__personalizado">

                </div>
                <fieldset class="flex flex-col justify-center items-center">
                    {{ form.csrf_token() }}
                    <!--necessario para o formulario.-->
                    <input type="hidden" name="id" value="{{ id }}">
                    <div>
                        {{ form.nome(class="form__padrao") }}
                    </div>
                    <div>
                        {{ form.categoria(class="form__padrao") }}
                    </div>
                    <div>
                        {{ form.review(class= "form__textarea__padrao") }}
                    </div>
                    <div>
                        {{form.salvar(class="btn__padrao")}}
                    </div>


                </fieldset>
            </div>
        </form>

    </div>
</section>

{%endblock%}