{% extends "template.html" %}
{% block conteudo %}
<h1 class="text-6xl text-center font-bold underline mb-2">Nossas Reviews:</h1>
<section class="container mx-auto flex flex-col justify-center gap-5 min-h-86vh">
    <ul class="flex flex-col  gap-4 max-w-xl mx-auto">
        {% for jogo in lista %}
        <li  class="grid grid-cols-7 border-2 border-black rounded-lg p-4 gap-2 items-center bg-white shadow-lg ">
            
            <img src="{{url_for('imagem', nome_arquivo=recupera_imagem(jogo.id, jogo.nome))}}" , class="h-24 w-20">
            <a href="{{ url_for( 'leitura', id=jogo.id ) }}" class="col-span-5">
            <div class="">
                <h3 class="font-bold text-lg">{{ jogo.nome }}</h3>
                <h3 class="font-semibold ">{{ jogo.categoria }}</h3>
                <p
                    class="flex text-ellipsis overflow-hidden whitespace-nowrap max-w-sm   ">
                    {{ jogo.review }}</p>

            </div>
        </a>
            <div class="flex justify-around">
                {% if session['usuario_admin']%}

                <a href="{{ url_for('editarReview', id=jogo.id) }}" class=""><svg xmlns="http://www.w3.org/2000/svg"
                        width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path
                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg></a>
                <a href="{{ url_for('removerReview', id=jogo.id) }}"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></a>
                {%endif%}
            </div>
        </li>
    </a>
        {% endfor %}
    </ul>
    {% if session['usuario_admin']%}
    <a href="{{ url_for('cadastroReview') }}" class="btn__padrao max-w-xl mx-auto">Cadastrar nova Review</a>
    {%endif%}
</section>
{%endblock%}