<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>Bem vindo!</title>
</head>

<body class="bg-slate-200">
    <div class="grid grid-cols-2">
        <section class="bg-slate-600 h-screen rounded-r-full flex flex-col justify-center items-center">
            <h1 class="text-white text-8xl">Bem vindo</h1>
            <p class="text-white text-xl">Faça seu login para continuar</p>
        </section>
        <section class="h-screen flex justify-center items-center ">
            <div class="border border-gray-400 rounded-lg bg-transparent shadow-xl p-4">
                <form method="POST" action="{{ url_for('autenticar') }}" class="flex flex-col gap-4 items-center">
                    <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
                    {{ form.csrf_token() }} <!--necessario para o formulario.-->
                    <div class="">
                        {{ form.nickname(class="form__padrao") }}
                    </div>
                    <div class="">
                        {{ form.senha(class="form__padrao") }}
                    </div>
                    <div>
                        {{ form.login(class="btn__padrao") }}
                    </div>
                </form>
            </div>
        </section>
    </div>

</body>

</html>