{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<div class="div__login">
    <form method="POST" action="{{ url_for('autenticar') }}" class="form__login">
        <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
        {{ form.csrf_token() }} <!--necessario para o formulario.-->
        <div class="form__div">
            {{ form.nickname(class="form__campo") }}
        </div>
        <div class="form__div">
            {{ form.senha(class="form__campo") }}
        </div>
        <div>
            {{ form.login(class="form__botao") }}
        </div>
    </form>
</div>

{%endblock%}