<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}">
    <title>Analisa-Total</title>
</head>
<body>
    <header class="cabecalho">
        <h1 class="titulo">{{ titulo }}</h1>
        {% if session['usuario_logado'] != None %}
            <p>Usuario: {{ session['usuario_logado'] }}</p>
            <div>
                <a href="{{ url_for('logoff') }}" class="botao">Logoff</a>
            </div>
        {% else %}
        <div>
            <a href="{{ url_for('login') }}" class="botao">Logon</a>
        </div>
        {% endif %}
    </header>
    <main>
        {% block conteudo %}{%endblock%}
    </main>
</body>
</html>