<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}">
    <title>Analisa-Total</title>
</head>
<body>
    <header class="cabecalho">
        <h1 class="titulo">{{ titulo }}</h1>
    </header>
    <main>
        {% block conteudo %}{%endblock%}
    </main>
</body>
</html>